.NoPageFound {
    width: 100%;
    height: 100vh;
}

.NoPageFound .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NoPageFound .contents img {
    padding: 50px;
    width: 300px;
    height: 300px;
}

.NoPageFound .contents .notice {
    text-align: center;
    font-size: 24px;
    padding: 20px;
}

.NoPageFound .contents Button {
    padding: 10px;
}