.Purchased .thanks {
  font-size: 40px;
  font-weight: 500;
  color: #333;
  padding: 200px 0px;
}

.Purchased .item_wrapper {
  display: flex;
  margin: 0px 20%;
  flex-direction: column;
  gap: 20px;
}

.Purchased .confirm {
    font-size: 35px;
    font-weight: 500;
    margin: 50px;
    padding: 20px;
    margin-top: 55px;
}

.Purchased .button_home {
  margin: 40px;
  font-size: 35px;
  padding: 25px 50px;
}