.Search {
    padding: 100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Search input {
    width: 600px;
    height: 30px;
    border-radius: 40px;
    padding: 20px;
    font-size: 24px;
}

.Search Button {
    padding: 20px;
    font-size: 24px;
}